body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

html,
body,
#root,
.app,
:fullscreen,
::backdrop {
  background-color: #80d8ff;
}

.incorrect {
  color: #cc0000;
  font-weight: bold;
}

.correct {
  color: #0000cc;
  font-weight: bold;
}
